.products{
    display: flex;
    margin: 1rem;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1.title{
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-size: 4rem;
}